ClientApplication/bin/Debug/ClientApplication.exe.config
ClientApplication/bin/Debug/ClientApplication.vshost.exe.config
ClientApplication/bin/Debug/ClientApplication.vshost.exe.manifest
ClientApplication/bin/Debug/RestSharp.xml
ConcurrencyExample/bin/Debug/ConcurrencyExample2.exe.config
ConcurrencyExample/bin/Debug/ConcurrencyExample2.vshost.exe.config
ConcurrencyExample/bin/Debug/ConcurrencyExample2.vshost.exe.manifest
ConcurrencyExample/bin/Debug/Nancy.Hosting.Self.xml
ConcurrencyExample/bin/Debug/Nancy.xml
ConcurrencyExample/obj/Debug/ConcurrencyExample.csproj.FileListAbsolute.txt
ConcurrencyExample/obj/Debug/ConcurrencyExample2.csproj.FileListAbsolute.txt
ConcurrencyExample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConcurrencyExample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConcurrencyExample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ClientApplication/obj/Debug/ClientApplication.csproj.FileListAbsolute.txt
ClientApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ClientApplication/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ClientApplication/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
